@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --background_gradient: #ddfdb3, #b7fb9c; /*#c4e29e, #89ee92;*/
    --header: #b7f5bb;
    --h1: #3cad6f;
    --background_section: #ecfcbc;
    --button: #b7fb9c;
    --hover:#96e079;
    --box: #e9ffcc ;
    --shadow_1: #0000003d;
    --shadow_2: #00000030;
    --button_text: #0f0f0f;
    --border: #222222;
    --footer:#7cd682;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right, var(--background_gradient));
    font-family: 'Montserrat', sans-serif;
  }

header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    background-color: var(--header);
}

main {
    height: 100vh;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    
}
.section_1 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: var(--background_section);
    border-radius: 8px;
    margin-top: 0.625rem;
    padding: 1.25rem;
    box-shadow: 0 12px 16px 0 var(--shadow_1), 0 17px 50px 0 var(--shadow_2);
}
  
h1 {
    color: var(--h1);
    background-color: var(--background_text);
    border-radius: 5px;
    margin-top: 0; 
}

h2 {
    margin: 0;
    font-size: 1.25rem;
}
  
.bored_card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 25rem;
    height: 4.0625rem;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 1.25rem;
    gap: 0.3125rem;
    margin-bottom: 0.625rem;
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--box);
    overflow: auto;
}

p {
    margin: 0.3125rem;
}

.button {
    cursor: pointer;
    background-color: var(--button);
    transition-duration: 0.4s;
    color: var(--button_text);
    border-radius: 5px;
    border: 1px solid var(--border); 
    font-size: 1.12rem;
    padding: 0.3125rem 0.625rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}
  
.button:hover {
    background-color: var(--hover);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 3.125rem;
    background-color: var(--footer) ;  
    font-size:  0.875rem;
}


/* Responsive opp til mobil */
@media (max-width: 425px) {
   
    .bored_card {
        width: 16.875rem;
    }
    .section_1 {
        width: 18.875rem;
    }
  }